<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
<div th:fragment="section" id="main-section">

		<section class="content">
			<div class="col-md-12 col-md-11" style="float:none;margin:auto;">

				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Course Catalog</h3>
					</div>

					<div class="box-body">

						<form role="form" method="post" th:action="addCatagorie">

							<input type="text" name="description" id="description" />
							
							<input type="submit">

						</form>
					</div>
				</div>
			</div>
		</section>
	</div>

</body>
</html>